.App {
  text-align: center;
  background-image: url('bg.png');
  /* filter: blur(6px); */
}

.App-logo {
  height: 10v;
  pointer-events: none;
  margin-top: -10vh;
  filter: blur(0px);

}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.5s linear;
  }
} */

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-size: 100vw 100vh;
  background-image: url('bg2.png');
  /* filter: blur(2px); */
  /* -webkit-filter: blur(8px);  */
  width: 100vw;
}

.Coin {
  cursor: pointer;
  transition: 0.3s all;

}

.Coin:hover {
  background-color: rgba(0, 0, 0, 0.2);

}

.Button{
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  height: 5vh;
  width: 15vh;
  font-size: 3vh;
  cursor: pointer;
  display: 'flex'; 
  flex-direction: 'column'; 
  justify-content: 'center';
  transition: 0.3s all;

}

.smallButton{
  height: 4vh;
  width: 10vh;
  font-size: 2vh;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: 'flex'; 
  flex-direction: 'column'; 
  justify-content: 'center';
  transition: 0.3s all;

}

.Button:hover{
  background-color: rgba(0, 0, 0, 0.2);

}

.smallButton:hover{
  background-color: rgba(0, 0, 0, 0.2);

}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

td, th {
  text-align: right;
  padding: 0 7px;
  border: 1px solid black;
}

table {
  border: 1px solid black;

}

.input {
  border-radius: 1vh;
  border-width: 0.3vh;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0);
  height: 3vh;  
  padding: 0.5vh;
  padding-left: 1vh;
  transition: 0.3s all;
  outline-color: black;
}

.input:hover {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}



.blurb{
  color: yellow;
  font-size: 3vh; 
  display: flex;
  border-style: solid; 
  border-color: rgba(255,255,255,0.2); 
  padding: 2vh; 
  border-radius: 4vh;
}

.tradecoinsbg{
  cursor: pointer;
  transition: 0.3s all;
}

.tradecoinsbg:hover{
  background-color: rgba(0, 0, 0, 0.2);
}