.App {
  text-align: center;
  background-color: #000000;
}

.App-logo {
  height: 10v;
  pointer-events: none;
  margin-top: -10vh;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.5s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-size: 100vw 100vh;
  background-image: url('background.png');
  /* filter: blur(6px);
  -webkit-filter: blur(8px); */
  width: 100vw;
}

.Button{
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  height: 5vh;
  width: 15vh;
  font-size: 3vh;
  cursor: pointer;
  display: 'flex'; 
  flex-direction: 'column'; 
  justify-content: 'center';
}

.smallButton{
  height: 4vh;
  width: 10vh;
  font-size: 2vh;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: 'flex'; 
  flex-direction: 'column'; 
  justify-content: 'center';
}

.Button:hover{
  background-color: rgba(0, 0, 0, 0.2);

}

.smallButton:hover{
  background-color: rgba(0, 0, 0, 0.2);

}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

td, th {
  text-align: right;
  padding: 0 7px;
  border: 1px solid black;
}

table {
  border: 1px solid black;

}